{% extends "header.html" %}
{% block body %}
<div class="container">
	<h1 class="text-center">Vagter</h1>
    {% for show in shows %}
        <h2>{{show.name}}</h2>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Dato</th>
                <th>Start</th>
                <th>Slut</th>
                <th>Rolle</th>
                <th>Tilgængelig</th>
            </tr>
            {% for shift in show.shifts %}
                {% if shift.taken %}
                    <tr>
                        <th class="text-muted">{{shift.date}}</th>
                        <th class="text-muted">{{shift.start}}</th>
                        <th class="text-muted">{{shift.end}}</th>
                        <th class="text-muted">{{shift.role}}</th>
                        <th class="text-muted">Vagt taget</th>
                    </tr>
                {% else %}
                    <tr onclick="window.location='/shifts?uuid={{shift.shiftid}}'">
                        <th>{{shift.date}}</th>
                        <th>{{shift.start}}</th>
                        <th>{{shift.end}}</th>
                        <th>{{shift.role}}</th>
                        <th>Vagt Tilgængelig</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br>
    {% endfor %}
</div>
{% endblock %}